@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    
    font-family: 'Roboto', sans-serif;
    background-color: #e4e4e7;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr 2fr 15fr;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    box-sizing: border-box;
    
}

.side-bar{
    
    background-color: #2B292B;
    color: #F9FAFB;
    grid-row: 1 / -1;
    height: 100%;
    display: grid;
    grid-template-rows: 130px 20px 1fr;
}

.logo {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.logo:hover{

    cursor: pointer;

}

.logo img{

    display: block;
    width: 75px;
    height: 75px;

}

.logo span{

    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    font-weight: 600;

}

.sidebar-sep{

    background-color: rgba(249, 250, 251, 0.075);
    height: 1px;
    width: 70%;
    margin-left: 15%;

}

.sidebar-nav{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-between;

}

.side-bar ul{

    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.side-bar li{

    display: flex;
    align-items: center;
    gap: 15px;
}

.side-bar li:hover{

    text-decoration: underline;
    cursor: pointer;

}

header{

    background-color: #F9FAFB;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 1fr;

}

.search-div{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;

}

.search{

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 70%;
    gap: 15px;

}

.search input{

    border: none;
    border-radius: 10px;
    background-color: #e4e4e7;
    padding: 10px;
    font-family: 'Roboto';
    font-size: 17.5px;
    flex: 1 1 auto;

}

.search input:focus{

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
    outline: none;

}

.search input:hover{
    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);

}

.profile{

    display: flex;
    align-items: center;
    gap: 10px;

}

@keyframes ringAnimation {

    0%, 100% {
        transform: rotate(0deg);
      }
      25%, 75% {
        transform: rotate(-5deg);
      }
      50% {
        transform: rotate(5deg);
      }

}

.notification:hover{
    
    animation: ringAnimation .75s ease-in-out infinite alternate;
    cursor: pointer;

}

.user{

    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;

}

.user:hover{

    text-decoration: underline;
    cursor: pointer;

}

.user .user-img{

    border-radius: 50%;
    width: 35px;


}

.greetings-div{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.greeting{

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    border-radius: 1em;
    background-color: #F9FAFB;
    padding: 15px;
}

.greeting img{

    border-radius: 50%;
    width: 70px;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;

}

.greeting img:hover{

    cursor: pointer;

}

.greeting .user-at{

    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;

}

.user-at:hover{

    cursor: pointer;
    text-decoration: underline;
    opacity: 80%;

}

.greeting .hi-there{

    align-self: center;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    
    
}

.greeting .user-id{
    
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    align-self: center;
    font-size: 30px;

}

.file-management{

    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;

}

.file-management div{
    
    background-color: #2B292B;
    color: #F9FAFB;
    padding: 15px;
    border-radius: 2em;
    min-width: 5em;
    text-align: center;
    font-weight: bold;
    max-height: 20px;

}

.file-management div:hover{

    cursor: pointer;
    background-color: #3d3a3d;

}

article{

    padding: 15px;
    padding-top: 0px;
    grid-row: 3 / -1;
    display: grid;
    grid-template-rows: 30px 1fr 30px 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 15px;

}

article h1{

    margin: 0px;
    font-size: 20px;
    align-self: end;

}

article p ,article span{

    color: rgba(42, 40, 42, 0.8);

}

.dash-title{

    grid-row: 1 / 2;
    grid-column: 1 / 2;

}

.dashboard{

    display: grid;
    grid-row: 2 / -1;
    gap: 20px;
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr;

}

.dash-item{

    background-color: #F9FAFB;
    border-radius: .5em;
    padding: 15px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 35px;
    grid-template-columns: 3fr 1fr;

}

.dash-item-bar{

    position: absolute;
    top: 0;
    left: -1px;
    /* z-index: -1; */
    height: 100%;
    width: 6.5px;
    border-radius: 10px 0px 0px 10px;
    background: linear-gradient(to top, #FFE00A, #FF0EB3);

}

.dash-item-content{

    grid-column: 1 / -1;

}

.dash-item-content h2{

    width: fit-content;

}

.dash-item-content h2:hover{

    cursor: pointer;
    opacity: 80%;
    text-decoration: underline;

}

.dash-actions{

    grid-row: 2 / -1;
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.dash-actions img:hover{

    cursor: pointer;
    opacity: 80%;

}

.dash-item h2{

    font-size: 17.5px;

}

.dash-item p{

    font-size: 15px;

}

.announcements-div {

    background-color: #F9FAFB;
    border-radius: .5em;
    padding: 15px;
    grid-row: 2 / 3;
    display: grid;

}

.announcement h3{
    
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.announcement h3:hover{

    text-decoration: underline;
    cursor: pointer;
    opacity: 85%;

}
.announcement p{

    font-size: 15px;
    margin: 0px;

}

.announcement-sep{

    margin: auto;
    margin-top: 5px;
    width: 95%;
    height: 1px;
    background-color: rgba(42, 40, 42, 0.2);

}

.colleagues {

    display: grid;
    background-color: #F9FAFB;
    border-radius: .5em;
    padding: 15px;
    grid-template-rows: repeat(4, 1fr);
    grid-row: 4 / -1;

}

.colleague{

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50px 1fr;
    row-gap: 5px;
    column-gap: 15px;
    width: fit-content;

}


.colleague img{
    
    height: 50px;
    border-radius: 50%;
    grid-row: 1 / -1;
    align-self: center;
    
}

.coll-at{

    align-self: end;
    font-weight: bold;
    color: #2B292B;
    
}

.colleague img:hover, .coll-at:hover{

    cursor: pointer;
    text-decoration: underline;
}